{% extends 'course/base.html' %}
{% load static %}
{% load tags %}

{% block navbar-content %}
   <div class="dropdown login">
      <button class="drop-btn login">
          <img src="{% static 'course/image/HumanLogo.svg' %} " alt="" style="width: 2rem; height: 2rem" height="1.5rem">
          <p style="cursor: pointer">{{ request.user.username }}</p>
      </button>
      <div class="dropdown-content">
          <a href="/logout/">Вийти</a>
      </div>
  </div>
{% endblock navbar-content %}
  
{% block body-content %}
  <div class="left-sidebar">
    <div class="modules">
        <div class="module-wrap">
            <div class="module"><p class="module-number">I</p></div>
            <div class="module" style="background-color: #2f715b"><p class="module-number">II</p></div>
            <div class="module" style="background-color: #2f715b"><p class="module-number">III</p></div>
        </div>
    </div>
      <div class="lessons-form">
        <h1 class="module-name">Початок роботи з Python</h1>
        <div class="lessons-name">
          {%for lesson in lessons_list%}
            <div class="module-content collapsable">
                <div class="lesson-title-content">
                    <img class="collapse-icon {% if_current current_lesson.id lesson.id 'reversed' %}" src="{% static 'course/image/sort-down.svg' %}" alt="" ><h2 class="lesson-name">{{lesson.name}}</h2>
                </div>
                <div class="lesson-content {% if_current current_lesson.id lesson.id 'opened' %}">
                  <a style="width: 100%;" href="/lessons/{{lesson.id}}"><h2 class="lesson-content-text {% if_current current_lesson.id lesson.id 'selected' %}">Теорія</h2></a>
                  {% for exercise in lesson.exercises.all %}
                    <a href="/exercises/{{exercise.id}}" class="lesson-content-text">{{exercise.name}}</a>
                  {% endfor %}
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="theory">
    <h1 style="text-align: center;">{{current_lesson.name}}</h1>
    {{current_lesson.theory|safe}}
  </div>
{% endblock body-content %}
