{% extends "course/base.html" %}

{% block title %}Start learnig Python{% endblock %}

{% block topic %}<center>Lessons</center>{% endblock %}

{% block sidebar %} {% endblock %}

{% block content %}
    {% for module in module_list %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <center><h1 style="font-size: 48px;">{{module.name}}</h1></center>
                {% for lesson in module.lessons.all %}
                    <a href="/lessons/{{lesson.id}}"><h3>{{lesson.name}}</h3></a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}