
.comment{
  color: #10e734;
}

code{
  color: #FFFEF2;
  display: block;
  margin: 1rem 1rem 1rem 10%;
  width: 50%;
  font-family: Courier New, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1rem;
  white-space: break-spaces;
  background-color: #39876F;
  border-radius: 10px;
  padding: 0.3rem 0.3rem 0.3rem 4rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

th{
  border: 1px solid #FFFEF2;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #FFFEF2;
  color: rgb(247, 211, 7);
  text-align: left;
  padding: 8px;
}