body{
    margin: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 13px 0 13px;
    position: static;
    width: auto;
    height: 2.5rem;
    background: #39876F;
    flex: none;
    order: 1;
    filter: drop-shadow(0.167rem 0px 0.167rem rgba(0, 0, 0, 0.25));
    align-self: stretch;
    flex-grow: 0;
}
.navbar-title{
    position: static;
    color: #FFFEF2;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.logo{
    position: static;
    width: 2rem;
    height: 2rem;
    filter: brightness(0) invert(1);
}
.frame1{
    position: static;
    width: 6.5rem;
    height: 2.5rem;
    left: 10rem;
    top: 0;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0 0;
}
.line1{
    position: static;
    width: 2rem;
    left: 10rem;
    top: 1rem;
    bottom: 2.5rem;
    border: 1px solid #FFFEF2;
    transform: rotate(90deg);
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0 0;
}
.line2{
    position: static;
    width: 2rem;
    left: 16.5rem;
    top: 1rem;
    bottom: 2.5rem;
    border: 1px solid #FFFEF2;
    transform: rotate(90deg);
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0 0;
}
.line3{
    position: static;
    width: 2rem;
    height: 0;
    right: 13rem;
    top: 1rem;
    border: 1px solid #FFFEF2;
    transform: rotate(90deg);
    flex: none;
    order: 7;
    flex-grow: 0;
    margin-left: auto;
}
.login{
    position: static;
    height: 2.5rem;
    right: 9rem;
    top: 0;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFEF2;
    flex: none;
    order: 8;
    flex-grow: 0;
    margin: 0 0;
}
.line4{
    position: static;
    width: 2rem;
    height: 0;
    right: 6rem;
    top: 1rem;
    border: 1px solid #FFFEF2;
    transform: rotate(90deg);
    flex: none;
    order: 9;
    flex-grow: 0;
    margin: 0 0;
}
.register{
    position: static;
    height: 2.5rem;
    right: 0;
    top: 0;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFEF2;
    flex: none;
    order: 10;
    flex-grow: 0;
    margin: 0 0;
}