{% extends 'course/base.html' %}
{% load static %}
{% load tags %}

{% block topic %}<center>{{ exercise.name }}</center>{% endblock %}

{% block navbar-content %}
   <div class="dropdown username">
        <button class="drop-btn username">
            <img src="{% static 'course/image/HumanLogo.svg' %} " alt="" style="width: 2rem; height: 2rem" height="1.5rem">
            <p style="cursor: pointer">{{ request.user.username }}</p>
        </button>
        <div class="dropdown-content">
            <a href="/logout/?path={{request.path}}">Вийти</a>
        </div>
    </div>
{% endblock navbar-content %}
  
{% block body-content %}
    <div class="left-sidebar">
        <div class="modules">
            <div class="module-wrap">
               {% for module in module_list %}
                    {% if current_exercise.lesson.module == module %}
                        <div class="module" ><a class="module-number {% is_module_completed module request.user %}" href="/lessons/{% first_lesson_id module.id%}">{% int_to_Roman num=module.id %}</a></div>
                    {% else %}  
                        <div class="module" style="background-color: #2f715b" ><a class="module-number {% is_module_completed module request.user %}" href="/lessons/{% first_lesson_id module.id%}">{% int_to_Roman num=module.id %}</a></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="lessons-form">
            <h1 class="module-name">{{current_exercise.lesson.module.name}}</h1>
            <div class="lessons-name">
            {%for lesson in current_exercise.lesson.module.lessons.all %}
                <div class="module-content collapsable">
                    <div class="lesson-title-content">
                        <img class="collapse-icon {% if_current current_exercise.lesson.id lesson.id 'reversed' %}" src="{% static 'course/image/sort-down.svg' %}" alt="" ><h2 class="lesson-name {% is_lesson_completed lesson request.user %}">{{lesson.name}}</h2>
                    </div>
                    <div class="lesson-content {% if_current current_exercise.lesson.id lesson.id 'opened' %}">
                    <a style="width: 100%;" href="/lessons/{{lesson.id}}"><h2 style="font-weight: bold; font-size: 0.8em; " class="lesson-content-text {% is_lesson_completed lesson request.user %}">Теорія</h2></a>
                    {% for exercise in lesson.exercises.all %}
                        <a style="margin-left: 1em;" href="/exercises/{{exercise.id}}" class="lesson-content-text {% is_completed user=request.user exercise=exercise %} {% if_current current_exercise.id exercise.id 'selected' %}">{{exercise.name}} </a>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    
    <form method="POST">
        {% csrf_token %}   
        <div class="code">
            <textarea id="code_editor" class="code-editor" rows="10" input=numbering id="code" name="code">{{inp_value}}</textarea>
            <script>
              let editor = CodeMirror.fromTextArea(code_editor, {
                lineNumbers: true,
                mode: 'python',
                theme: 'eclipse'
              });

              editor.setSize('calc(100% - 1.5rem)', 'auto');
            </script>
        </div>
        <div class="right-sidebar">
            <h1 class="exercise-name">{{exercise.name}}</h1>
            <p class="exercise-condition">{{exercise.condition}}</p>
            <h2 class="example-title">Приклади</h2>
            <div class="examples">
                <div class="input-output">
                    <div class="input">
                        <h2 class="input-output-title">Ввід</h2>
                        <p class="input-output-content">{{exercise.sample_input|safe}}</p>
                    </div>
                    <div class="output">
                        <h2 class="input-output-title">Вивід</h2>
                        <p class="input-output-content">{{exercise.sample_output|safe}}</p>
                    </div>
                </div>
            </div>
            <button type="submit" class="submit-button">Запустити код</button>
        </div>
    </form>

    <div id="code-output" class="code-output" style="visibility: {{ result_popup_visibility }};">
        <img class="form-close-icon" src="{% static 'course/image/close-message-icon.svg' %}" alt="" onclick="hide_result_popup()">
        <center><h1 class="code-message module-name">{%func1 str=inp_value input_output_list=input_output_list exercise=current_exercise user=request.user%}</h1></center>
    </div>

{% endblock %}
