{% extends 'course/base.html' %}
{% load static %}
{% load tags %}

{% block topic %}<center>{{ exercise.name }}</center>{% endblock %}

{% block content %}
    <h2>Умова задачі: </h2>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2>{{ exercise.condition }}</h2>
        </div>
    </div>
    <h2>Ввід:</h2>
    <div class="jumbotron jumbotron-fluid" style="padding-top: 5px; padding-bottom: 5px;">
        <div class="container">
            <h2>{{ exercise.sample_input }}</h2>
        </div>
    </div>
    <h2>Вивід:</h2>
    <div class="jumbotron jumbotron-fluid" style="padding-top: 5px; padding-bottom: 5px;">
        <div class="container">
            <h2>{{ exercise.sample_output }}</h2>
        </div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <textarea id="code" name="code"></textarea>
        <input type="submit" value="OK">
    </form>
    
    <p>{%func1 str=inp_value%}</p>
    

{% endblock %}
